@keyframes slide {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0;
    }
}

@font-face {
    font-family: parchment;
    src: url("https://raw.githubusercontent.com/pluto7073/pluto7073.github.io/refs/heads/main/files/fonts/PARCHM.woff2");
}

.ticker-move {
    display: flex;
    animation: ticker linear 20s infinite;
}
.ticker-item {
    flex-shrink: 0;
    width: 50%
}
.ticker-wrap {
    overflow: hidden;
}
h1 {
    font-size: 100px;
    font-family: parchment, fantasy;
}

@keyframes ticker {
    0% { transform: translatex(25%) }
    100% { transform: translateX(-75%) }
}