@import "tailwindcss";

@layer base {
    html {
        font-family: 'Inter', system-ui, sans-serif;
    }

    body {
        font-family: 'Inter', system-ui, sans-serif;
    }

    code, pre {
        font-family: 'Fira Code', monospace;
    }
}