---
import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<html class="scroll-smooth" lang="en">
	<head>
		<Head title="Home"/>
	</head>
	<body class="font-sans m-0 p-0 text-left min-h-screen text-gray-200 text-base leading-relaxed overflow-x-hidden relative"
		  style="background: linear-gradient(135deg, #000000 0%, #51317e 100%) fixed;">
	<Header/>

	<main transition:animate="slide" class="w-full max-w-6xl mx-auto px-4 py-8 relative z-2 min-h-[calc(100vh-120px)]">
		<section class="page-header text-center py-16 mb-12">
			<div class="overflow-hidden">
				<div class="flex ticker-move">
					<div class="w-1/3 shrink-0"><h1 class="font-parchment glow-border text-5xl font-extrabold mb-4 text-[#9082CE]"> Pluto Games </h1> </div>
					<div class="w-1/3 shrink-0"><h1 class="font-parchment glow-border text-5xl font-extrabold mb-4 text-[#9082CE]"> Pluto Games </h1> </div>
					<div class="w-1/3 shrink-0"><h1 class="font-parchment glow-border text-5xl font-extrabold mb-4 text-[#9082CE]"> Pluto Games </h1> </div>
					<div class="w-1/3 shrink-0"><h1 class="font-parchment glow-border text-5xl font-extrabold mb-4 text-[#9082CE]"> Pluto Games </h1> </div>
				</div>
			</div>

		</section>
	</main>

	<Footer/>
	</body>
</html>
