---
import type {CollectionEntry} from "astro:content";

type DocProps = CollectionEntry<"docs">

export interface Props {
    label: string,
    docs: DocProps[],
    isCurrent: boolean,
    slug?: string
}

const { label, docs, isCurrent, slug } = Astro.props as Props;

---

<details open={isCurrent}>
    <summary class="sidebar-details fill-violet-800 h">
        { slug ? (<a href={"/wiki/" + slug} class=""> <span class="group-label large text-purple-300 fill-violet-800">{label}</span> </a>)
            : (<span class="large text-purple-400 group-label fill-violet-800"> {label} </span>)}
        <iconify-icon icon="mingcute:left-fill" width="20" class:list={[{hidden: isCurrent}]}/>
        <iconify-icon icon="mingcute:down-fill" width="20" class:list={[{hidden: !isCurrent}]}/>
    </summary>

    <ul>
        <slot/>
    </ul>
</details>

<script>
    for (let element of document.getElementsByClassName("sidebar-details")) {
        element.addEventListener("click", function() {
            let icons = element.getElementsByTagName("iconify-icon");
            if (icons.length < 2) return;
            icons[0].classList.toggle("hidden");
            icons[1].classList.toggle("hidden")
        })
    }
</script>

<style>
    ul {
        //--sl-sidebar-item-padding-inline: 0.5rem;
        //list-style: none;
        //padding: 0;
    }

    .large {
        font-size: var(--sl-text-lg);
        font-weight: 600;
        color: var(--sl-color-white);
    }

    summary {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.2em var(--sl-sidebar-item-padding-inline);
        line-height: 1.4;
        cursor: pointer;
        user-select: none;
    }
    summary::marker,
    summary::-webkit-details-marker {
        display: none;
    }

    .caret {
        transition: transform 0.2s ease-in-out;
        flex-shrink: 0;
    }
    :global([dir='rtl']) .caret {
        transform: rotateZ(180deg);
    }
    [open] > summary .caret {
        transform: rotateZ(90deg);
    }

    a {
        display: block;
        border-radius: 0.25rem;
        text-decoration: none;
        //color: var(--sl-color-gray-2);
        padding: 0.3em var(--sl-sidebar-item-padding-inline);
        line-height: 1.4;
    }

    a:hover,
    a:focus {
        color: var(--sl-color-white);
    }

    [aria-current='page'],
    [aria-current='page']:hover,
    [aria-current='page']:focus {
        font-weight: 600;
        color: var(--sl-color-text-invert);
        background-color: var(--sl-color-text-accent);
    }

    a > *:not(:last-child),
    .group-label > *:not(:last-child) {
        margin-inline-end: 0.25em;
    }

    @media (min-width: 50rem) {
        .top-level > li + li {
            margin-top: 0.5rem;
        }
        .large {
            font-size: var(--sl-text-base);
        }
        a {
            font-size: var(--sl-text-sm);
        }
    }
</style>
