---
import "../styles/global.css"
export interface HeadProps {
    title: string;
    desc?: string;
}

let props;

try {
    props = Astro.locals.starlightRoute.entry.data as HeadProps;
} catch (ignored) {
    props = Astro.props as HeadProps;
}

const description = props.desc ?? "";
---

<title> {props.title} | Pluto Games </title>

<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="theme-color" content="#8B5CF6" />
<meta name="title" content={props.title} />
<meta name="description" content={description} />
<meta name="generator" content={Astro.generator} />
<link rel="icon" type="image/png" href="/favicon/icon-256.png">


