---
import Search from "@astrojs/starlight/components/Search.astro"
import SidebarContents from "./SidebarContents.astro";
import type {CollectionEntry} from "astro:content";

type DocProps = CollectionEntry<"docs">

const { id } = Astro.locals.starlightRoute.entry as DocProps;

---

<div class="h-full max-h-full">

    <Search />
    <br/><br/>
    <h3 class="text-3xl text-[#9082CE] font-extrabold pb-4"> Pluto's Mod Wikis </h3>
    <hr class="pb-4 font-bold"/>
    <SidebarContents currentPage={id.replace("wiki/", "")}/>
</div>